---
export type Props = {
  href: string;
  id?: string;
  class?: string;
};

const { href, id, class: extraClass = "" } = Astro.props;
---

<a
  href={href}
  id={id ? id : undefined}
  class:list={[
    "inline-block bg-purple md:text-md hover:border-purple hover:text-purple active:bg-purple active:border-purple cursor-pointer rounded-[100px] border-2 border-black px-[25px] py-[10.87px] duration-200 hover:bg-transparent active:text-white active:opacity-60 lg:px-[30px] lg:py-[13px] lg:text-lg xl:px-[38px] xl:py-[16.5px]",
    extraClass,
  ]}
>
  <slot />
</a>
