---
import { Image } from "astro:assets";
import teamPhoto from "../assets/collaborate.webp";
import SecondaryButton from "./buttons/SecondaryButton.astro";
---

<div class="pt-[50px] sm:pt-[100px] lg:pt-[220px] lg:pb-[100px]">
  <div
    class="flex flex-col items-stretch justify-center gap-[60px] lg:flex-row"
  >
    <div
      class="flex w-full flex-shrink-0 flex-col items-center justify-between gap-5 text-center lg:w-[35%] lg:items-start lg:text-start 2xl:justify-center 2xl:gap-[50px]"
    >
      <h3
        class="text-heading-4 sm:text-heading-3 md:text-heading-2 lg:text-heading-3 xl:text-heading-2"
      >
        Collaborate with us
      </h3>
      <p class="text-gray_text lg:text-body sm:text-lg">
        We are always looking to create new partnerships that provide the
        resources to fuel our learning beyond the classroom. If you would like
        to get in touch, we&apos;d love to hear from you.
      </p>
      <SecondaryButton href="/partners"> Partner With Us </SecondaryButton>
    </div>
    <Image
      src={teamPhoto}
      alt="Rows of AtomCraft team members lined up making gestures"
      class="aspect-auto w-full rounded-2xl"
    />
  </div>
</div>

<script>
  import { createCounterAnimation } from "../helpers";

  document.addEventListener("DOMContentLoaded", () => {});
</script>
