---
import openstar from "../assets/news/openstar.webp"
import abc from "../assets/news/abc.webp"
import csiro from "../assets/news/csiro.webp"
import FeaturedNewsCard from "../components/FeaturedNewsCard.astro";
import { Image } from "astro:assets";
import leftArrow from "../assets/left-arrow.svg";
import rightArrow from "../assets/right-arrow.svg";
import type { News } from "../api";

export interface Props {
  news: News;
}

const { news } = Astro.props;
---

<div class="w-full max-w-[1200px] mb-20">
  <div class="flex overflow-x-hidden gap-20 relative">
    {
      news.map(article => (
        <FeaturedNewsCard article={article}/>
      ))
    }
  </div>
  <div class="flex items-center justify-between w-full mt-1">
    <button id="prev-btn" class="cursor-pointer p-2 rounded-full transition-colors duration-200 active:bg-slate-500/50 hover:bg-slate-500/30">
      <Image src={leftArrow} alt="left arrow" class="w-7 md:w-10" loading="eager"/>
    </button>
    <button id="next-btn" class="cursor-pointer p-2 rounded-full transition-colors duration-200 active:bg-slate-500/50 hover:bg-slate-500/30">
      <Image src={rightArrow} alt="right arrow" class="w-7 md:w-10" loading="eager"/>
    </button>
  </div>
</div>



<script>
  import gsap from "gsap"
  import { horizontalLoop } from "../helpers"

  document.addEventListener("DOMContentLoaded", () => {
    const parts = gsap.utils.toArray(".featured-news") as HTMLElement[]
    const loop = horizontalLoop(parts, {
      paused: true,
      paddingRight: 80,
    })

    let isAnimating = false;
    const autoAdvance = () => {
      if (isAnimating) return
      isAnimating = true

      loop.next({
        duration: 1,
        ease: "power3.inOut",
        onComplete: () => {
          isAnimating = false
          autoAdvanceTween = gsap.delayedCall(5, autoAdvance)
        }
      })
    }

    let autoAdvanceTween = gsap.delayedCall(5, autoAdvance);

    document.querySelector("#next-btn")?.addEventListener("click", () => {
      autoAdvanceTween.kill();
      isAnimating = true;

      loop.next({
        duration: 1,
        ease: "power3.inOut",
        onComplete: () => {
          isAnimating = false
          autoAdvanceTween = gsap.delayedCall(5, autoAdvance)
        }
      })
    })

    document.querySelector("#prev-btn")?.addEventListener("click", () => {
      autoAdvanceTween.kill();
      isAnimating = true;

      loop.previous({
        duration: 1,
        ease: "power3.inOut",
        onComplete: () => {
          isAnimating = false
          autoAdvanceTween = gsap.delayedCall(5, autoAdvance)
        }
      })
    })
  })
</script>