---
import { Image } from "astro:assets";
import glow from "../assets/glow-cutv2.png";
---

<div class="flex w-full flex-col items-center pb-40 sm:pb-56 lg:pb-96">
  <Image src={glow} alt="effect" class="md:w-xl" />
  <h2
    class="mb-3 text-3xl font-semibold sm:text-4xl md:mb-5 md:text-5xl lg:text-7xl"
  >
    The Future
  </h2>
  <div
    class="text-gray_text space-y-[1em] text-center sm:text-lg md:w-2xl md:text-xl lg:text-2xl"
  >
    <p>
      Fusion is no longer just a scientific dream. It is becoming an engineering
      reality. The global fusion industry is rapidly evolving, with projections
      estimating a market value of nearly US$1 trillion by 2040.
    </p>
    <p>
      This project supports research and development efforts for several fusion
      start-ups and helps pave the way toward a decarbonised energy future. We
      are not just imagining the future. We are building it, piece by piece.
    </p>
  </div>

  <a
    href="https://www.unsw.edu.au/challeng/vertically-integrated-projects/explore-vertically-integrated-projects/atomcraft"
  >
    <button
      class="mt-10 cursor-pointer rounded-4xl bg-[#39F8EB] bg-gradient-to-r from-[#39F8EB] to-[#39bcf8] px-10 py-2.5 font-semibold text-white shadow-black/100 [text-shadow:0_2px_15px_var(--tw-shadow-color)] lg:text-xl"
    >
      Build the future
    </button>
  </a>
</div>
