---
import { Image } from "astro:assets";
import Tokamak from "../assets/PurpleTokamak1.png";
import Tubelight from "../assets/tubelight.png";
import SecondaryOutlineButton from "./buttons/SecondaryOutlineButton.astro";
---

<div class="relative w-screen h-screen flex items-center justify-center left-1/2 -translate-x-1/2">
  <Image src={Tokamak} alt="Large Purple Tokamak" class="absolute inset-0 w-full h-full object-cover"/>

  <div class="relative z-10 flex flex-col items-center text-center max-w-[1920px] px-6 md:px-[120px]">
    <Image src={Tubelight} alt="Glowing Tubelight" class="w-[250px]"/>
    <p class="text-subheading-1 text-pink">
      Our Mission Is
    </p>
    <p class="text-heading-2.1">
      To advance the science, build real machines, and prepare the next generation of engineers, scientists, and leaders to deliver fusion technology for humanity.
    </p>

    <SecondaryOutlineButton href="about-us">
      Learn More About Atomcraft
    </SecondaryOutlineButton>
  </div>
</div>