---
import { Image } from "astro:assets";
import Tokamak from "../assets/PurpleTokamak1.png";
import Tubelight from "../assets/tubelight.png";
import SecondaryOutlineButton from "./buttons/SecondaryOutlineButton.astro";
import "@fontsource/inter/500.css"; // Medium
---

<section class="relative h-screen overflow-x-hidden">
  <div class="absolute inset-0">
    <Image src={Tokamak} alt="Large Purple Tokamak" class="h-full w-full" />
  </div>

  <div
    class="relative z-10 mx-auto flex h-full max-w-[1920px] flex-col items-center justify-center px-6 text-center md:px-[120px]"
  >
    <!-- <Image src={Tubelight} alt="Glowing Tubelight" class="w-[250px]"/> -->
    <Image
      src={Tubelight}
      alt="Glowing Tubelight"
      class="h-[100px] w-[300px] sm:h-[173px] sm:w-[400px]"
    />
    <p class="text-body sm:text-subheading-1 text-pink pb-[10px] sm:pb-[20px]">
      Our Mission Is
    </p>
    <p
      class="text-heading-5 sm:text-heading-4 md:text-heading-4 lg:text-heading-3 xl:text-heading-2.1 mx-auto max-w-[1270px] pb-6 sm:pb-[52px]"
    >
      To advance the science, build real machines, and prepare the next
      generation of engineers, scientists, and leaders to deliver fusion
      technology for humanity.
    </p>
    <SecondaryOutlineButton href="/about-us">
      Learn More About Atomcraft
    </SecondaryOutlineButton>
  </div>
</section>
