---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import SecondaryButton from "./buttons/SecondaryButton.astro";
import PrimaryButton from "./buttons/PrimaryButton.astro";
---

<header class="fixed top-0 left-0 z-100 w-full" id="navbar">
  <!-- <div
    class="absolute top-0 left-1/2 z-5 h-20 sm:h-30 w-full -translate-x-1/2 bg-[linear-gradient(to_bottom,rgba(41,14,101,1)_0%,rgba(41,14,101,0.8)_50%,transparent_100%)]
    blur-2xl lg:h-25 xl:h-30 2xl:h-40"
  >
  </div> -->
  <div
    class="absolute top-0 left-1/2 z-[-5] h-30 w-full -translate-x-1/2 bg-gradient-to-b from-[rgba(41,14,101,0.7)] to-[rgba(8,4,17,0)]"
  >
  </div>

  <div
    class="relative z-10 mx-[20px] mt-[30px] flex items-center justify-between lg:mx-[30px] xl:mx-[40px]"
  >
    <div
      class="md:text-md flex items-center md:gap-[20px] lg:gap-[40px] lg:text-xl xl:gap-[60px]"
    >
      <a href="/">
        <Image
          src={logo}
          alt="logo"
          loading="eager"
          class="z-10 w-[200px] sm:w-[175px] lg:w-[208px]"
        />
      </a>
      <div class="smd:flex hidden md:gap-[20px] lg:gap-[40px] xl:gap-[60px]">
        <a href="/news" class="hover:underline active:opacity-60"> About Us </a>
        <a href="/news" class="hover:underline active:opacity-60"> News </a>
        <a href="/members" class="hover:underline active:opacity-60">
          Members
        </a>
      </div>
    </div>

    <div class="smd:block z-10 hidden">
      <div class="flex items-center gap-3 xl:gap-[30px]">
        <SecondaryButton href="/partners" class="sm:text-sm">
          Partner With Us
        </SecondaryButton>
        <PrimaryButton href="/" class="sm:text-sm">
          Join Our Team
        </PrimaryButton>
      </div>
    </div>

    <div class="smd:hidden z-10 flex flex-col items-center pr-2">
      <button
        id="mobile-menu-btn"
        class="group smd:hidden inline-flex h-12 w-12 cursor-pointer items-center justify-center rounded text-center text-white shadow-[0_1px_0_theme(colors.slate.950/.04),0_1px_2px_theme(colors.slate.950/.12),inset_0_-2px_0_theme(colors.slate.950/.04)] transition hover:shadow-[0_1px_0_theme(colors.slate.950/.04),0_4px_8px_theme(colors.slate.950/.12),inset_0_-2px_0_theme(colors.slate.950/.04)]"
        aria-pressed="false"
      >
        <span class="sr-only">Menu</span>
        <svg
          class="pointer-events-none h-6 w-6 fill-current"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            class="origin-center translate-x-[7px] -translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-x-0 group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:rotate-[315deg]"
            y="7"
            width="9"
            height="2"
            rx="1"></rect>
          <rect
            class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-[[aria-pressed=true]]:rotate-45"
            y="7"
            width="16"
            height="2"
            rx="1"></rect>
          <rect
            class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:rotate-[135deg]"
            y="7"
            width="9"
            height="2"
            rx="1"></rect>
        </svg>
      </button>

      <div
        id="mobile-menu"
        class="smd:hidden invisible absolute top-full right-[-20] max-h-0 w-[100px] overflow-hidden opacity-0 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex flex-col items-center gap-5 rounded-2xl bg-black/70 pt-2 pb-2"
        >
          <a href="/about-us"> About Us </a>
          <a href="/news"> News </a>
          <a href="/members"> Members </a>
          <a href="/partners"> Partner </a>
          <a href="/partners"> Join Us </a>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("mobile-menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuBtn && mobileMenu) {
      document
        .getElementById("mobile-menu-btn")
        ?.addEventListener("click", () => {
          const isPressed = menuBtn.getAttribute("aria-pressed") === "true";
          menuBtn.setAttribute("aria-pressed", String(!isPressed));

          mobileMenu.classList.toggle("opacity-0");
          mobileMenu.classList.toggle("invisible");

          mobileMenu.classList.toggle("max-h-0");
          mobileMenu.classList.toggle("max-h-screen");
        });
    }

    const showAnim = gsap
      .from("#navbar", {
        yPercent: -100,
        paused: true,
        duration: 0.2,
      })
      .progress(1);

    ScrollTrigger.create({
      start: "top top",
      end: "max",
      onUpdate: (self) => {
        self.direction == -1 ? showAnim.play() : showAnim.reverse();
      },
    });
  });
</script>
