---
import TimelineSVG from "../assets/timelinev2.svg";
---

<div class="flex w-full flex-col items-center gap-10">
  <h1
    class="text-4xl font-bold md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
  >
    Our Story
  </h1>
  <div id="timeline-container" class="relative flex w-full justify-center">
    <TimelineSVG />

    <div
      class="milestone-marker bg-secondary-pink absolute top-38 h-3 w-3 translate-x-[17px] rounded-full"
    >
    </div>
    <div
      id="milestone-1"
      class="xs:text-base xs:translate-x-[135px] absolute top-18 translate-x-[95px] text-sm md:translate-x-[185px]"
    >
      <h2 class="xs:text-xl font-bold sm:text-2xl">AtomCraft Begins</h2>
      <p class="text-secondary-pink">January 2024</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] md:w-[300px]">
        AtomCraft was officially launched at the beginning of 2024, with a group
        of 15 students.
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-90 h-3 w-3 -translate-x-[18px] rounded-full"
    >
    </div>
    <div
      id="milestone-2"
      class="xs:text-base xs:-translate-x-[135px] absolute top-77 -translate-x-[93px] text-sm md:-translate-x-[185px]"
    >
      <h2 class="xs:text-xl text-right font-bold sm:text-2xl">First Plasma</h2>
      <p class="text-secondary-pink text-right">September 2024</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] text-right md:w-[300px]">
        POT 1.0 saw AtomCraft create their first ever plasma!
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-145 h-3 w-3 translate-x-[17px] rounded-full"
    >
    </div>
    <div
      id="milestone-3"
      class="xs:text-base xs:translate-x-[135px] absolute top-130 translate-x-[95px] text-sm md:translate-x-[185px]"
    >
      <h2 class="xs:text-xl font-bold sm:text-2xl">First Null Field</h2>
      <p class="text-secondary-pink">October 2024</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] md:w-[300px]">
        The evolution of our plasma was successfully modelled!
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-200 h-3 w-3 -translate-x-[18px] rounded-full"
    >
    </div>
    <div
      id="milestone-4"
      class="xs:text-base xs:-translate-x-[145px] absolute top-185 flex -translate-x-[100px] flex-col items-end text-sm md:-translate-x-[185px]"
    >
      <h2 class="xs:text-xl text-right font-bold sm:text-2xl">
        First RF Experiment
      </h2>
      <p class="text-secondary-pink text-right">November 2024</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] text-right md:w-[300px]">
        RF successfuly conducted their first experiment.
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-255 h-3 w-3 translate-x-[17px] rounded-full"
    >
    </div>
    <div
      id="milestone-5"
      class="xs:text-base xs:translate-x-[145px] absolute top-242 translate-x-[95px] text-sm md:translate-x-[185px]"
    >
      <h2 class="xs:text-xl font-bold sm:text-2xl">Exponential Growth</h2>
      <p class="text-secondary-pink">January 2025</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] md:w-[300px]">
        The beginning of the year saw our team grow to 75 students!
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-305 h-3 w-3 -translate-x-[18px] rounded-full"
    >
    </div>
    <div
      id="milestone-6"
      class="xs:text-base xs:-translate-x-[135px] absolute top-290 -translate-x-[100px] text-sm md:-translate-x-[185px]"
    >
      <h2 class="xs:text-xl text-right font-bold sm:text-2xl">GDC</h2>
      <p class="text-secondary-pink text-right">February 2025</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] text-right md:w-[300px]">
        In our POT 2.0, we successfully achieved a Glow Discharge cleaning
        plasma!
      </p>
    </div>

    <div
      class="milestone-marker bg-secondary-pink absolute top-360 h-3 w-3 translate-x-[17px] rounded-full"
    >
    </div>
    <div
      id="milestone-7"
      class="xs:text-base xs:translate-x-[135px] absolute top-340 translate-x-[95px] text-sm md:translate-x-[185px]"
    >
      <h2 class="xs:text-xl font-bold sm:text-2xl">POT 3.0</h2>
      <p class="text-secondary-pink">May 2025</p>
      <p class="text-gray_text xs:w-[200px] w-[140px] md:w-[300px]">
        Beginning in March, the POT 3.0 is aimed to be completed in May,
        integrating several teams into one system.
      </p>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import DrawSVGPlugin from "gsap/DrawSVGPlugin";
  import { pathEase } from "../helpers";

  gsap.registerPlugin(
    ScrollTrigger,
    DrawSVGPlugin,
  );

  let mm = gsap.matchMedia();

  const milestoneAnimation = (id: string, right: boolean) => {
    mm.add("(min-width:1024px)", () => {
      gsap.from(id, {
        autoAlpha: 0,
        x: right ? 300 : -300,
        
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: id,
          start: "top 47%",
          once: true,
        }
      });
    })

    mm.add("(max-width:799px)", () => {
      gsap.from(id, {
        autoAlpha: 0,
        
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: id,
          start: "top 37%",
          once: true,
        }
      });
    })
  }

  document.addEventListener("DOMContentLoaded", () => {
    mm.add("(min-width:800px)", () => {
      gsap.fromTo(
        "#timeline-path-filled",
        { drawSVG: "0%" },
        {
          drawSVG: "100%",
          ease: pathEase("#timeline-path-filled", { smooth: true }),
          duration: 1,
          scrollTrigger: {
            trigger: "#timeline-container",
            start: "top 40%",
            end: "bottom 40%",
            scrub: 0.5,
            once: true,
          },
        },
      );
    });

    mm.add("(max-width:640px)", () => {
      gsap.fromTo(
        "#timeline-path-filled",
        { drawSVG: "0%" },
        {
          drawSVG: "100%",
          ease: pathEase("#timeline-path-filled", { smooth: true }),
          scrollTrigger: {
            trigger: "#timeline-container",
            start: "top 25%",
            end: "bottom 25%",
            scrub: 1,
            once: true,
          },
        },
      );
    }); 

    milestoneAnimation("#milestone-1", true);
    milestoneAnimation("#milestone-2", false);
    milestoneAnimation("#milestone-3", true);
    milestoneAnimation("#milestone-4", false);
    milestoneAnimation("#milestone-5", true);
    milestoneAnimation("#milestone-6", false);
    milestoneAnimation("#milestone-7", true);
  });
</script>
