---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Stay updated with the latest news and breakthroughs from AtomCraft, the world’s first student-led fusion energy initiative at UNSW Sydney."
    />
    <meta
      name="keywords"
      content="AtomCraft, News, Updates, Announcements, UNSW, Tokamak, Fusion, Nuclear, Energy, Device, Students"
    />
    <title>News | AtomCraft</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #080411;
    color: white;
  }
</style>
