---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
// import "./src/styles/global.css";
import "../styles/global.css";
import PartnerCarousel from "../components/PartnerCarousel.astro";
import WhatWeDo from "../components/WhatWeDo.astro";
import Tokamak from "../components/Tokamak.astro";
import AboutUs from "../components/AboutUs.astro";
import Story from "../components/Story.astro";
import Future from "../components/Future.astro";
---

<Layout>
  <Hero/>
  <PartnerCarousel/>
  <div class="w-[85%] min-[2000px]:!w-[60%] 2xl:w-[70%] mx-auto">
    <WhatWeDo/>
    <Tokamak/>
    <AboutUs/>
    <Story/>
    <Future/>
  </div>
</Layout>

