---
import Hero from "../components/Hero.astro";
import PartnerCarousel from "../components/PartnerCarousel.astro";
import WhatWeDo from "../components/WhatWeDo.astro";
import Tokamak from "../components/Tokamak.astro";
import AboutUs from "../components/AboutUs.astro";
import Story from "../components/Story.astro";
import Future from "../components/Future.astro";
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
  <Hero/>
  <PartnerCarousel/>
  <div class="max-w-[1500px] w-[90%] mx-auto">
    <WhatWeDo/>
    <Tokamak/>
    <AboutUs/>
    <Story/>
    <Future/>
  </div>
</IndexLayout>

