---
import Layout from "../layouts/Layout.astro";
import FeaturedNews from "../components/FeaturedNews.astro";
import RegularNews from "../components/RegularNews.astro";
---

<Layout>
  <div class="mt-[100px] lg:mt-[200px] max-w-[1500px] w-[90%] mx-auto flex flex-col items-center">
    <h1 class="text-3xl md:text-5xl xl:text-7xl mb-10 lg:mb-20">
      Stay updated with us!
    </h1>
    <FeaturedNews/>
    <RegularNews/>
  </div>
</Layout>
