---
import FeaturedNews from "../components/FeaturedNews.astro";
import RegularNews from "../components/RegularNews.astro";
import NewsLayout from "../layouts/NewsLayout.astro";
---

<NewsLayout>
  <div
    class="mx-auto mt-[100px] flex w-[90%] max-w-[1500px] flex-col items-center lg:mt-[200px]"
  >
    <h1 class="mb-10 text-3xl md:text-5xl lg:mb-20 xl:text-7xl">
      Stay updated with us!
    </h1>
    <FeaturedNews />
    <RegularNews />
  </div>
</NewsLayout>
